<article class="tarjeta-clase">
  <header class="tarjeta-clase__info">
    <app-icono [nombre]="icono()" tamano="md" class="tarjeta-clase__icono" />
    <hgroup class="tarjeta-clase__textos">
      <h3 class="tarjeta-clase__nombre">{{ nombre() }}</h3>
      @if (profesorNombre()) {
        <p class="tarjeta-clase__profesor">{{ profesorNombre() }}</p>
      }
    </hgroup>
  </header>
  <button 
    type="button" 
    class="tarjeta-clase__boton"
    [class.tarjeta-clase__boton--reservada]="reservada()"
    [disabled]="reservada()"
    (click)="onReservar()"
    [attr.aria-label]="reservada() ? 'Clase reservada' : 'Reservar plaza en ' + nombre()"
  >
    @if (reservada()) {
      <app-icono nombre="check" tamano="sm" />
    }
    {{ textoBoton() }}
  </button>
</article>
