<main class="consejos">
    <header class="consejos__cabecera">
        <h1 class="consejos__titulo">Consejos para el Fitness</h1>
        <p class="consejos__subtitulo">
        Consejos para que puedas mejorar tu rutina
        </p>
    </header>
    
    @if (!consejosService.hayConsejos()) {
        <section class="consejos__vacio">
            <p>No hay consejos disponibles.</p>
        </section>
    } @else {
        <section class="consejos__grid">
            @for (consejo of consejosService.consejos(); track consejo.id) {
                <app-tarjeta-consejo
                [titulo]="consejo.titulo"
                [descripcion]="consejo.descripcion"
                [categoria]="consejo.categoria" />
            }
        </section>
    }
</main>