// ============================================
// FORMULARIO REGISTRO
// ============================================
// Reutiliza los estilos de formulario-login

@use '../formulario-login/formulario-login.scss';