<article class="tarjeta-profesor">
  <figure class="tarjeta-profesor__avatar">
    @if (foto()) {
      <img [src]="foto()" [alt]="'Foto de ' + nombre()" class="tarjeta-profesor__imagen" loading="lazy" width="64" height="64" decoding="async" />
    } @else {
      <app-icono nombre="user" tamano="lg" class="tarjeta-profesor__icono-default" />
    }
  </figure>

  <section class="tarjeta-profesor__info">
    <h4 class="tarjeta-profesor__nombre">{{ nombre() }}</h4>
    <p class="tarjeta-profesor__especialidad">{{ especialidad() }}</p>
    @if (proximaClase()) {
      <p class="tarjeta-profesor__proxima-clase">
        <app-icono nombre="calendar" tamano="xs" />
        {{ proximaClase() }}
      </p>
    }
  </section>

  <button 
    type="button" 
    class="tarjeta-profesor__boton"
    [class.tarjeta-profesor__boton--reservada]="reservada()"
    [disabled]="reservada()"
    (click)="onReservar()"
  >
    @if (reservada()) {
      <app-icono nombre="check" tamano="sm" />
    }
    {{ textoBoton() }}
  </button>
</article>
