@use '../../../../styles/00-settings/variables' as *;

$carga-anim: 0.2s;
$carga-blur: 0.25rem;

.carga-global {
  position: fixed;
  inset: 0;
  z-index: $z-sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($gris-900, 0.7);
  animation: carga-aparecer $carga-anim ease-out;
  backdrop-filter: blur($carga-blur);

  [data-tema="oscuro"] & {
    background-color: rgba($gris-900, 0.85);
  }
}

@keyframes carga-aparecer {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
